<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gxwl.rederdemo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.initApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".SAED.UI.Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SAED.UI.Activities.ClientActivity" />
        <activity android:name=".SAED.UI.Activities.AuthActivity" />
        <activity
            android:name=".EntryActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity
            android:name=".ReadOrWriteActivity"
            android:label="@string/readOrWrite" />
        <activity android:name=".RfidConfigActivity" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".DialogCusActivity"
            android:theme="@style/dialogStyle" />
    </application>

</manifest>